<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9"></script>
    <script src="application.js"></script>
  </head>

  <body ng-controller="MainCtrl">
      <input ng-model="newtask" placeholder="Add new task">
      <button ng-click="addTask()">Add Task</button>
      <h2>Tasks:</h2>
      <ul>
        <li ng-repeat="task in tasks track by $index">{{task}} <input type="image" ng-click="removeTask(task)" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAyVBMVEX////8/Pz+/v739/fj4+Pu7u7p6en5+fn09PTTBgGwHx6pWFijKCjg4ODTqqnkKQ27NSq6W1q1EhHEAQG3TkuzGRPKJhq9dXXx5+bn0dLMnp3VsrHUIQ3dJgzZzMzu3NzAFg7esrHVf3fpfmzLQjHFLBrFd3bZiIepZ2TLe2+9GRXZDga2e3q4PzjcVE3cOCn3q6L/nY3/f2r5VTrNQUDEmZnSV033PR61XFzBVVXmyMjhc2f1u7bKiIfSlpXgm5qsPTquTEyuLiauU+UfAAAA0klEQVQYlS2O6VbCQBSDM3vHOkIdugjYFpWqrSiKK9qKvP9DeYdD/n05N7lBNfwOAEzEgSJPevQ/6+8GUJpj+/UZL9Cvn182Y6c4T14nb44Bw/vmY7Qvtm325xQxqcnmXet9LBU/MHS5stY32rEjq2hvfb3TxIaDKV2l1k/SLAeENBCqOLc2lrP55YXQglrYibWn0rGz0VhHoSKxXVqGf3k2DVy0Xf0Q2MjVMhjTx6dlSUz5ql6QMbu6vinAhaR8c0uGuLunf0aLcH5YasI+bnDUP49yED9O0QmkAAAAAElFTkSuQmCC"/></li>
      </ul>
  </body>

</html>
